<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="pageheadline">
        <h1>Varukorg</h1>
    </div>
    <div class="shoppingcart-container">
        <div class="wishlist-shoppingcart-continer">
            <% cart.forEach(obj => { %>
            <div class="wishlist-shoppingcart-innercontiner">
                <div class="product-img"> </div>
                <div class="wishlist-shoppingcart-info">
                    <div class="wishlist-shoppingcart-item">Album: <%= obj.product.album %> </div>
                    <div class="wishlist-shoppingcart-item">Artist: <%= obj.product.artist %> </div>
                    <div class="wishlist-shoppingcart-item">Antal: <%= obj.quantity %> </div>
                    <div class="wishlist-shoppingcart-item">Pris: <%= obj.product.price %> SEK</div>
                </div>
            </div>
            <% }); %>
            <div class="wishlist-shoppingcart-total">Totalt: <%= totalAmount %></div>
            <div class="checkout-button-container">
                <button id="checkout-button" type="submit">BESTÄLL</button>
            </div>
        </div>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
            const stripe = Stripe('<%= stripeVar.publicKey %>');
            document.querySelector('#checkout-button').addEventListener('click', () => {
                stripe.redirectToCheckout({
                    sessionId: '<%= stripeVar.sessionId %>'
                })
            });
        </script>
    </div>
</main>
<%- include ("footer.ejs") %>