<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <p class="small-text">
        Ett urval av alla godbitar som finns på lager just nu.
    </p>
    <%- include ("pagination.ejs") %>
    <ul class="product-list">
        <script>
            const clickMe = async (button) => {
                const id = button.id.replace('cart-button-', '')
                try {
                    const response = await fetch('/order', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            productId: id
                        })
                    });
                    const jsonRes = await response.json()
                    if (jsonRes.answer === 'ok') {
                        alert('Varan lades till!')
                    } else {
                        alert('Du måste vara inloggad!')
                    }
                } catch (e) {
                    console.error(e);
                }
            }
        </script>
        <% productList.forEach((product)=>{ %>
        <li class="product-display">
            <div class="product-image-container"><a href="<%= ROUTE.gallery %>/<%= product._id%>"><img src="<%= product.imgUrl %>"></a></div>
            <div class="product-info-container">
                <div class="product-info-left">
                    <div class="product-artist"><%= product.artist %></div>
                    <div><%= product.album %></div>
                    <div class="product-price-container">
                        <span class="product-price"><%= product.price %></span>
                        <span class="product-currency">SEK</span>
                    </div>
                </div>
                <div class="product-info-right">
                    <button id='cart-button-<%= product._id %>' onclick="clickMe(this);" class="add-to-cart-button">KÖP</button>
                    <a href="/wishlist/<%= product._id %>">
                        <button class="add-to-cart-button">SPARA</button>
                    </a>
                </div>
            </div>
        </li>
        <div class="line"></div>
        <% }) %>
    </ul>
    <%- include ("pagination.ejs") %>
</main>
<%- include ("footer.ejs") %>